/**
 * -----------------------------------------------------------------
 * 1. Fonts and Icons
 * -----------------------------------------------------------------
**/
@font-face {
  font-family: 'BrandonPrinted-One';
  src: url('../fonts/29F9D8_0_0.eot');
  src: url('../fonts/29F9D8_0_0.eot?') format('embedded-opentype'), url('../fonts/29F9D8_0_0.woff') format('woff'), url('../fonts/29F9D8_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'BrandonPrintedOne-Shadow';
  src: url('../fonts/29F9D8_1_0.eot');
  src: url('../fonts/29F9D8_1_0.eot?') format('embedded-opentype'), url('../fonts/29F9D8_1_0.woff') format('woff'), url('../fonts/29F9D8_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'BrandonPrinted-Inline';
  src: url('../fonts/29F9D8_2_0.eot');
  src: url('../fonts/29F9D8_2_0.eot?') format('embedded-opentype'), url('../fonts/29F9D8_2_0.woff') format('woff'), url('../fonts/29F9D8_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'BrandonPrinted-Extras';
  src: url('../fonts/29F9D8_3_0.eot');
  src: url('../fonts/29F9D8_3_0.eot?') format('embedded-opentype'), url('../fonts/29F9D8_3_0.woff') format('woff'), url('../fonts/29F9D8_3_0.ttf') format('truetype');
}
.BrandonPrinted-One {
  font-family: BrandonPrinted-One;
}
.BrandonPrintedOne-Shadow {
  font-family: BrandonPrintedOne-Shadow;
}
.BrandonPrinted-Inline {
  font-family: BrandonPrinted-Inline;
}
.BrandonPrinted-Extras {
  font-family: BrandonPrinted-Extras;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-ghost,
.icon-feed,
.icon-twitter,
.icon-google-plus,
.icon-facebook {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
.icon-twitter,
.icon-google-plus,
.icon-facebook {
  padding-left: 0.5em;
}
.icon-ghost:before {
  content: "\e000";
}
.icon-feed:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
  font-size: 1.1em;
}
.icon-google-plus:before {
  content: "\e003";
}
.icon-facebook:before {
  content: "\e004";
}
.icon-ghost {
  font-size: 12px;
  position: relative;
  top: -1px;
}
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}
/**
 * -----------------------------------------------------------------
 * 2. Variables
 * -----------------------------------------------------------------
**/
body {
  background-color: #ffffff;
  color: #7f8c8d;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}
body * {
  max-height: 1000000em;
}
h1,
h2,
h3,
h4,
p,
li,
dt,
dd {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
.post-meta {
  text-align: center;
}
h1 {
  color: #151515;
  font-family: "Gentium Basic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin: 0;
  padding: 0;
}
a,
a:visited {
  color: #3498db;
  text-decoration: none;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
a:focus,
a:hover {
  color: #02090e;
}
p,
li,
dt,
dd {
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
}
dt {
  font-weight: 400;
}
li {
  padding-left: 0.8em;
}
pre {
  font-family: "Consolas", Courier, monospace;
  font-size: 1em;
  line-height: 1.2em;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.05);
}
p code {
  font-family: "Consolas", Courier, monospace;
  font-size: .8em;
  line-height: 1.2em;
}
/**
 * -----------------------------------------------------------------
 * 4. Header
 * -----------------------------------------------------------------
**/
#site-header {
  background: #ffd700;
  margin-bottom: 80px;
  height: 200px;
}
.site-header-inner {
  padding-top: 30px;
}
h1.blog-title,
h2.blog-description {
  font-family: BrandonPrinted-One;
  color: #3498db;
  text-align: center;
}
h1.blog-title {
  font-size: 2.6em;
}
h1.blog-title a {
  color: #3498db;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
  padding: 8px 12px;
}
h1.blog-title a:focus,
h1.blog-title a:hover {
  color: #3498db;
  text-decoration: none;
}
h2.blog-description {
  font-size: 1.6em;
  margin-bottom: 2em;
  padding: 0.5em 1em;
}
#blog-images {
  padding: 0px;
  margin-top: -20px;
}
#blog-images a {
  text-align: center;
  font-size: 30px;
  color: #3498db;
}
#blog-images a.icon-google-plus {
  padding-left: 0px;
}
#blog-logo {
  display: block;
  top: -30px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #3498db;
}
#blog-logo img {
  width: 95%;
  position: relative;
  top: 27%;
  left: 3%;
}
.red-border {
  border: 1px solid red;
}
/**
 * -----------------------------------------------------------------
 * 4. Theme
 * -----------------------------------------------------------------
**/
/* Shared properties */
.red-border {
  border: 1px solid red;
}
.center {
  text-align: center;
}
img.alignright {
  float: right;
  padding: 0 0 10px 10px;
}
img.alignleft {
  float: left;
  padding: 0 10px 10px 0;
}
a.footnote-link {
  text-decoration: none;
}
p.footnote {
  font-size: 0.9em;
}
.underline {
  text-decoration: underline;
}
.grid-center {
  padding: 0 12.5%;
}
code,
tt {
  font-family: Inconsolata,monospace;
  font-size: 0.85em;
  white-space: pre-wrap;
  background: #f1f0ea;
  border: 1px solid #dddbcc;
  border-radius: 2px;
  padding: 1px 3px;
}
ul.tags {
  list-style-type: none;
  margin: 10px 0px 0px 0px;
  padding: 7px 5px 7px 5px;
}
ul.tags li {
  display: inline-block;
  padding: 0px 3px 0px 3px;
  width: 54px;
  height: 48px;
}
li.tag-code {
  background: url('../images/code.png') no-repeat;
}
li.tag-design {
  background: url('../images/design.png') no-repeat;
}
li.tag-cloud {
  background: url('../images/cloud.png') no-repeat;
}
li.tag-entrepreneurship {
  background: url('../images/entrepreneurship.png') no-repeat;
}
li.tag-innovation {
  background: url('../images/innovation.png') no-repeat;
}
li.tag-wordpress {
  background: url('../images/wordpress.png') no-repeat;
}
li.tag-apple {
  background: url('../images/apple.png') no-repeat;
}
header.article-header {
  margin-bottom: 3em;
}
article.preview {
  margin-bottom: 4em;
}
article.preview p.readmore {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 400;
}
/* === Posts === */
section.author,
section.share {
  text-align: left;
  text-transform: none;
}
section.share {
  margin-top: 1em;
  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: right;
}
section.author h4,
section.author p,
section.share p {
  padding: 0;
  margin: 0;
}
section.author h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 4px;
}
section.author p.attr,
section.share p.info {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section.author p.attr {
  margin-bottom: 2px;
}
section.share p.info {
  display: inline-block;
}
section.author p.bio {
  font-size: 14px;
  margin-left: 82px;
  line-height: 1.4em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
blockquote {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
  font-style: italic;
  text-transform: uppercase;
  border-left: 0.5em solid rgba(0, 0, 0, 0.05);
  margin-left: 1em;
  padding-left: 1em;
}
blockquote p {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
  font-style: italic;
  text-transform: uppercase;
}
.post-meta {
  color: #95a5a6;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1.2em;
  text-transform: uppercase;
}
div.authorimage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center center !important;
  margin-right: 10px;
  float: left;
}
h1.post-title a {
  color: #3498db;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
h1.post-title a:focus,
h1.post-title a:hover {
  color: #3498db;
  text-decoration: none;
}
section.post-content h2 {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 2em;
  text-transform: uppercase;
  font-weight: 300;
}
section.post-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
section.preview.archive h2 {
  text-align: left;
}
section.author {
  overflow: hidden;
}
img.userimage {
  width: 70px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}
.pagination {
  position: relative;
  width: 90%;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #7f8c8d;
  text-align: center;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  padding: 0.5em 0;
}
.pagination a {
  color: #3498db;
}
.pagination .older-posts,
.pagination .newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;
}
.pagination .older-posts {
  right: 0;
}
.pagination .page-number {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.pagination .newer-posts {
  left: 0;
}
.pagination .older-posts:hover,
.pagination .newer-posts:hover {
  color: #02090e;
  text-decoration: none;
}
/**
 * -----------------------------------------------------------------
 * 5. Footer
 * -----------------------------------------------------------------
**/
footer {
  background: rgba(0, 0, 0, 0.05);
  margin: 4em 0 0;
  padding: 2em 0;
  text-align: center;
}
footer a.subscribe {
  display: inline-block;
  position: relative;
  top: -40px;
  margin: 0 auto 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
footer a.subscribe i {
  font-size: 24px;
}
footer a.tooltip {
  position: relative;
  font-size: 0.9em;
}
footer a.tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: 56px;
  color: #fff;
  content: attr(title);
  left: -80%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 120px;
}
footer a.tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 50px;
  content: "";
  left: 15%;
  position: absolute;
  z-index: 99;
}
footer section {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0 auto;
  margin-top: -30px;
  text-transform: uppercase;
  width: 90%;
}
footer.post-footer {
  background: none;
}
/**
 * -----------------------------------------------------------------
 * 6. Queries
 * -----------------------------------------------------------------
**/
@media handheld, only screen and (min-width: 320px) and (max-width: 767px) {
  footer section span.copyright {
    display: block;
  }
  nav li {
    width: auto;
  }
  .pagination .older-posts,
  .pagination .newer-posts {
    position: static;
    margin: 10px 0;
  }
  .pagination .newer-posts {
    margin-right: 15px;
  }
  .pagination .older-posts {
    margin-left: 15px;
  }
  .pagination .page-number {
    display: none;
  }
}
